ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
img{
	max-width: 100%;
	width: 100%;
}
.left-sidebar{
	position: fixed;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid rgba(0,0,0,.1);
}
.posts-first-area{
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
	padding: 5px 10px;
}
.set-wat{
	width: 100%;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	padding: 10px 10px;
	border-right: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.set-wat .profile-area{
	width: 10%;
	height: 100%;
}
.set-wat .profile-area img{
	border-radius: 50%;
}
.set-wat .watting-area{
	width: 90%;
	padding: 10px;
}
.set-wat .watting-area .watting-text{
	width: 100%;
	border: 0;
	min-height: 70px;
	max-height: 200px;
	overflow-y: auto;
}
.set-wat .watting-publishing{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: row-reverse;
	width: 100%;
}
.set-wat .last-digits{
	margin-right: 10px;
	line-height: 30px;
}
.set-wat .set-wat-btn{
	background: rgba(255, 102, 0);
	color: #fff;
}
.right-sidebar{
	padding: 10px;
}
.right-sidebar input.search{
	width: 100%;
	border: 0;
	background: #ffd995;
	border-radius: 10px;
	padding: 10px 8px;
}
.right-sidebar .recent-users{
	width: 100%;
	background:  #ffd995;
	padding: 10px;
	margin-top: 20px;
	border-radius: 15px;
}
.right-sidebar .recent-users h4{
	text-align: center;
}
.recent-user-item{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-top: 5px;
	border-top: 1px solid rgba(0,0,0,.1);
}
.recent-user-item .recent-profile{
	width: 15%;
}
.recent-user-item .recent-profile img{
	border-radius: 100%;
}
.recent-user-item .recent-summary{
	width: 55%;
}
.recent-user-item .recent-button{
	width: 30%;
}
.recent-user-item div{
	padding: 5px;
}

.post-item{
	width: 100%;
	padding: 10px;
	clear: both;
	margin: 10px 0px;
	min-height: 150px;
	border-right: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.post-item .post-summary{
	width: 100%;
}
.post-item .post-summary .post-profile-img{
	width: 8%;
	height: 100%;
	float: left;
}
img.profile-img{
	border-radius: 100%;
}
.post-item .post-summary .post-info{
	width: 92%;
	padding: 0px 10px;
	float: left;
}
.post-item .post-content{
	float: left;
	width: 92%;
	padding-left: 10px;
}
@media only screen and (max-width: 767px){
	.right-sidebar{
		display: none;
	}
}