.cover-pic{
	height: 200px;
}
.cover-pic img.cover{
	width: 100%;
	max-height: 100%;
	position: relative;
}
.profile-actions{
	background: red;
	margin-bottom: 20px;
}
.profile-actions .profile-img-wrapper{
	float: left;
	width: 20%;
	    position: absolute;
    margin-top: -13%;
    z-index: 1;
    margin-left: 20px;
}
.profile-actions .profile-action-buttons{
	float: right;
}
.profile-actions img.profile-img{
	border: 3px solid #fff;
}
.btn-follow{
	margin-top: 5px;
	background: rgba(255, 102, 0);
	color: #fff;
}
.btn-other{
	border:1px solid rgba(255, 102, 0);
	color: #000;
	border-radius: 100%;

}
.profile .profile-summary{
	margin-top: 50px;
	padding: 5px 20px;
}
.profile .profile-summary span{
	display: block;

}
.profile .profile-summary .profile-name{
	font-weight: 600;
	font-size: 22px;
}
.profile .profile-summary .profile-link{
	color: rgba(0,0,0,.2);
}
.profile .profile-tabs{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	padding: 10px 0px;
}
.profile-tabs .tab-item{
	width: 50%;
	text-align: center;
	padding: 10px 0px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-size: 18px;
}
.profile-tabs .tab-item:hover{
	cursor: pointer;
	border-bottom: 1px solid rgba(255, 102, 0);
}
.profile-tabs .tab-item.active{
	border-bottom: 1px solid rgba(255, 102, 0);
}