body::after{
		content: "";
  background: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  width: 100%;
}
.page-center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 300px;
	text-align: center;

}

.user-process .motto{
	font-size: 20px;
}
.user-process input{
	display: block;
	width: 92%;
	margin: 10px auto;
	border-radius: 10px;
	border: 1px solid rgba(255, 102, 0);
	padding: 5px 10px;
}
.user-process .btn-login{
	display: block;
	margin: 5px auto;
	background: rgba(255, 102, 0);
	color: #fff;
}